/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    color: white;
}

/* COMMON */
/* background */

/* color */
.ms_color_blue {
    color: #2d64e6;
}

.ms_color_black {
    color: #000000;
}

/* Button */
.ms_btn {
    padding: 8px 14px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.ms_btn_blue {
    background-color: #2d64e6;
}

.ms_btn_dark {
    background-color: #363636;
}

.ms_btn_orange {
    background-color: #cd3d0f;
}

.ms_btn_light {
    background-color: #d9dadc;
    color: #2d64e6;
}

/* Sections */
.ms_section {
    padding: 100px 0 50px;
}

.sub_title_section h2,
.title_section h2 {
    font-size: 2.5rem;
}

.sub_title_section p,
.title_section p {
    font-size: 1.3rem;
    color: gray;
}

main .ms_banner{
    color: white;
    background-repeat: no-repeat;
}

main .ms_banner h2 {
    font-size: 3rem;
}

main .ms_banner p {
    font-size: 1.1rem;
    font-weight: 500;
}


/* ACTIVE */
.border_active {
    border-bottom: 2px solid #2d64e6
}

/* HEADER */
/* Header Top */
header {
    height: 116px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .header-top {
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-top .sony-logo {
    width: 100px;
}

/* Header Bottom */
.header-bottom {
    background-color: white;
}

.header-bottom .navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
    font-weight: 500;
}

.header-bottom .btn i {
    font-size: 1.3rem;
}

header li {
    margin: 0 .5rem;
}

/* MAIN */
/* First Banner */
.first_banner {
    background-image: url(../img/jumbo-bg.png);
    margin-top: 116px;
    background-position: center;
}

.first_banner_content {
    padding: 250px 0 100px;
}



/* Another Banners */
.another_banners {
    margin-top: 50px;
}

.another_banners_img {
    padding: 2px;
    border: 3px solid transparent;
    border-radius: 20px;
}

.banner_active {
    border: 3px solid #0072ce;
}

.another_banners_img img {
    border-radius: 20px;
}

/* Second banner */


/* Product Section */

.product-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
}

.product-img img{
    width: 50%;
}

.title_section {
    text-align: center;
}

.product_active {
    opacity: 1;
}

/* Second Banner */
.second_banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* New Releases */
.new_releases {
    color: white;
    background-color: #1f1f1f;
}

.new_releases_box img {
    border-radius: 20px;
}

/* PS4 Section */
.ms_ps4_section span {
    vertical-align: bottom;
}

/* Ps Plus Section */
.third_banner {
    background-color: #bebcbb;
    background-position: right;
    background-size: contain;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    padding: 100px 0;
}

@media all and (max-width: 991px) {

    .third_banner {
        padding: 20px 0;
    }
    
}

@media all and (max-width: 767px) {

    .third_banner {
        background-image: none;
    }
    
}