/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

ul {
    list-style: none;
}

a:hover {
    color: white;
}

/* COMMON */
/* background */

/* color */
.ms_color_blue {
    color: #2d64e6;
}

.ms_color_black {
    color: #000000;
}

.ms_color_white {
    color: #ffffff;
}

/* Button */
.ms_btn {
    padding: 5px 10px;
    border: 3px solid transparent;
    border-radius: 20px;
}

.ms_btn_blue {
    background-color: #2d64e6;
}

.ms_btn_dark {
    background-color: #363636;
}

.ms_btn_orange {
    background-color: #cd3d0f;
}

.ms_btn_light-blue {
    background-color: #d9dadc;
    color: #2d64e6;
}

.ms_btn_light-black {
    background-color: #f5f5f5;
    color: #000000;
}

/* Hover Button */
.ms_btn:hover {
    opacity: .8;
}

/* Sections */
.ms_section {
    padding: 100px 0 50px;
}

.sub_title_section h2,
.title_section h2 {
    font-size: 2.5rem;
}

.sub_title_section p,
.title_section p {
    font-size: 1.3rem;
    color: gray;
}

main .ms_banner{
    color: white;
    background-repeat: no-repeat;
}

main .ms_banner h2 {
    font-size: 3rem;
}

main .ms_banner p {
    font-size: 1.1rem;
    font-weight: 500;
}


/* ACTIVE */
.border_active {
    border-bottom: 2px solid #2d64e6;
}

/* HEADER */
/* Header Top */
header {
    height: 116px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .header-top {
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-top .sony-logo {
    width: 100px;
}

/* Header Bottom */
.header-bottom {
    background-color: white;
}

.dropdown-toggle::after {
    display: none;
}

.header-bottom .navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
    font-weight: 500;
}

.header-bottom .btn i {
    font-size: 1.3rem;
}

header li {
    margin: 0 .5rem;
}

/* MAIN */
/* First Banner */
.first_banner {
    background-image: url(../img/jumbo-bg.png);
    margin-top: 116px;
    background-position: center;
}

.first_banner_content {
    padding: 250px 0 100px;
}



/* Another Banners */
.another_banners {
    margin-top: 50px;
}

.another_banners_img {
    position: relative;
    padding: 2px;
    border: 3px solid transparent;
    border-radius: 23px;
}

.another_banners_img img {
    border-radius: 20px;
}

.banner_active {
    border: 3px solid #0072ce;
}
/* Hover */
.another_banners .col-6:hover .another_banners_img {
    bottom: 40px;
}


/* Second banner */


/* Product Section */

.product-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
}

.product-img img{
    width: 50%;
}

.title_section {
    text-align: center;
}

.product_active {
    opacity: 1;
}

/* Second Banner */
.second_banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* New Releases */
.new_releases {
    color: white;
    background-color: #1f1f1f;
}

.new_releases_box img {
    border-radius: 20px;
}

/* PS4 Section */
.ms_ps4_section span {
    vertical-align: bottom;
}

/* Ps Plus Section */
.right_banner {
    padding: 100px 0;
    background-position: right;
    background-size: contain;
}

.third_banner {
    background-color: #bebcbb;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
}

/* Hover */
.third_banner a:hover {
    color: #2d64e6;
}

/* Discount Section */
.discount_img:hover {
    transform: scale(1.05);
    transition: .4s;
}

/* Ps Now Section */
.fourth_banner {
    background-color: #161c3b;
    background-image: url(../img/ps-now-april-featured-image-block.png);
}

@media all and (max-width: 991px) {

    .right_banner {
        padding: 20px 0;
    }
    
}

@media all and (max-width: 767px) {

    .right_banner {
        background-image: none;
    }
    
}

/* Social Section */
.social_box:hover {
    transform: scale(1.1);
    transition: 1s;
}

.social_box:hover img{
    border-radius: 15px;
    transition: .1s;
}


/* Hover */
.fourth_banner a:hover {
    color: #000000;
}

/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
}

/* Footer Top */
footer .ms_globe_logo img {    
    width: 20px;
}

footer .ms_link_list li {
    margin: .7rem 0;
}

/* Footer Bottom */
.footer_bottom .sie_logo{
    width: 150px;
}

.footer_bottom p {
    font-weight: 500;
    font-size: .8rem;
    margin-top: .6rem;
}


